<!DOCTYPE html>
<html>
<head>
  <title>Vinyl Emporium</title>
</head>
<body>
<%= yield %>
<nav>
  <ul>
    <li><a href="/inventory">View Inventory</a></li>
    <li><a href="/order">Place Order</a></li>
  </ul>
</nav>


</body>
</html>